@mixin connection-field()
{
	width: 9em;
	line-height: 1em;
	text-align: right;

	&.is-disabled
	{
		filter: grayscale(0.8);
		opacity: 0.5;
		pointer-events: none;
	}

	input
	{
		visibility: hidden;
		position: absolute;

		&:checked + span {
			color: white;
			border: 1px solid #ff0054;
			background: #ff0054;
		}
	}

	label
	{
		position: relative;
		display: inline-block;
		padding: 0;
		margin: 0;
		height: 1.5em;
		font-size: 0.6em;
		margin-right: 2px;
		margin-bottom: 3px;
		vertical-align: top;
		cursor: pointer;

		&:hover
		{
			span
			{
				background: lighten(#ff0054, 25%);
				color: white;
			}

			input:checked + span
			{
				background: #ff0054;
				border: 1px solid white;
			}
		}
	}

	span
	{
		width: 1.5em;
		height: 1.5em;
		background: white;
		color: black;
		display: inline-block;
		border: 1px solid white;
		font-size: 1em;
		text-align: center;
	}
}